/* Main Page */
body{
  background-color: black;
  font-family: 'Press Start 2P', cursive;
}
/* title design */

/* Main box structure */
.Main-page{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Special Elite', cursive;
  cursor: pointer;
}
/* soccer canvas design */
#penalty-canvas{
  border: 6px groove #FFF;
  background-color: rgb(22, 157, 22);
}

.top-score{
  margin: 2em;
  font-family: 'Press Start 2P', cursive;
  color: white;
  height: 400px;
  width: 400px;
  border: 4px dotted #FFF;
  display: flex ;
}

.instructions{
  position: absolute;
  margin: 2em;
  font-family: 'Press Start 2P', cursive;
  color: white;
  height: 400px;
  width: 200px;
  border: 4px dotted #FFF;
  display: flex;
}


.under-canvas{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
} 

.whole-page{
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.Main-page{
  display: flex;
  /* width: 90vw; */
}

.title{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
  font-family: 'Press Start 2P', cursive;
  color: #FFF;
  font-size: 60px;
}
